/* Stadium CSS v2.5 https://github.com/stadium-software/datagrid-advanced-search */
:root {
    --datagrid-filter-background-color: #f5f5f5;
    
    --datagrid-integrated-filter-header-background-color: white;
    --datagrid-integrated-filter-border-color: #ccc;

    --datagrid-filter-clear-button-font-color: #3399ff;
    --datagrid-filter-clear-button-background-color: white;
    --datagrid-filter-clear-button-hover-font-color: #3399ff;
    --datagrid-filter-clear-button-hover-background-color: white;

    --datagrid-filter-clear-button-position: 0; /*Set this to 1 to reverse the button order*/
}