USE [master]
GO
/****** Object:  Database [StadiumFilterData]    Script Date: 27/07/2023 12:40:58 ******/
CREATE DATABASE [StadiumFilterData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StadiumFilterData', FILENAME = N'E:\Data\Microsoft SQL Server\MSSQL15.SQLEXPRESS\Data\StadiumFilterData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StadiumFilterData_log', FILENAME = N'E:\Data\Microsoft SQL Server\MSSQL15.SQLEXPRESS\Log\StadiumFilterData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StadiumFilterData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StadiumFilterData]
GO
/****** Object:  Table [dbo].[MyData]    Script Date: 27/07/2023 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[NoOfChildren] [int] NULL,
	[NoOfPets] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Healthy] [bit] NULL,
	[Happy] [bit] NULL,
 CONSTRAINT [PK_MyData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedFilters]    Script Date: 27/07/2023 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedFilters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [varchar](50) NULL,
	[DGName] [varchar](50) NULL,
	[SearchPhrase] [varchar](250) NULL,
	[UserID] [varchar](50) NULL,
	[FilterName] [varchar](150) NULL,
 CONSTRAINT [PK_SavedFilters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MyData] ON 

INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy]) VALUES (1, N'Martina', N'Vaughn', 10, 9, CAST(N'2023-10-01T12:00:00.000' AS DateTime), CAST(N'2023-10-02T12:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy]) VALUES (2, N'Bruce', N'Hester', 10, 1, CAST(N'2023-06-19T12:00:00.000' AS DateTime), CAST(N'2024-05-01T12:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy]) VALUES (3, N'Wayne', N'Andrews', 5, 6, CAST(N'2023-04-07T00:00:00.000' AS DateTime), CAST(N'2024-03-26T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[MyData] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedFilters] ON 

INSERT [dbo].[SavedFilters] ([ID], [PageName], [DGName], [SearchPhrase], [UserID], [FilterName]) VALUES (1, N'/StartPage', N'DataGrid', N'First\ Name:"Adam" AND Healthy:Yes', N'ba834f85-e619-455b-8566-7810b1b281ce', N'Adam')
INSERT [dbo].[SavedFilters] ([ID], [PageName], [DGName], [SearchPhrase], [UserID], [FilterName]) VALUES (2, N'/StartPage', N'DataGrid', N'First\ Name:"Adam" AND No\ Of\ Pets:[2 TO 4] AND Happy:Yes', N'ba834f85-e619-455b-8566-7810b1b281ce', N'Adam2')
INSERT [dbo].[SavedFilters] ([ID], [PageName], [DGName], [SearchPhrase], [UserID], [FilterName]) VALUES (3, N'/StartPage', N'DataGrid', N'First\ Name:"Adam" AND Last\ Name:"W"', N'ba834f85-e619-455b-8566-7810b1b281ce', N'AdamW')
SET IDENTITY_INSERT [dbo].[SavedFilters] OFF
GO
USE [master]
GO
